{% extends 'base.html' %} {% block title %}Bugs{% endblock %}

<main class="container">
  {% block heading %}
  <h1>Bugs</h1>{% endblock %} {% block content %} {% for bug in bugs %}
  <div class="card border-primary mb-3">
    <div class="card-header">{{ bug.status }}</div>
    <div class="card-body">
      <h4 class="card-title">{{ bug.title|capfirst }}</h4>
      <p class="card-text">{{ bug.description|capfirst }}</p>
      <div class="card-footer text-muted">
        {{ bug.creator|capfirst }} | {{ bug.created_date }}
        <a href="#" class="card-link">View bug</a>
      </div>
          
    </div>
  </div>
  {% endfor %} {% endblock %}
</main>
