{% extends 'base.html' %}
{% block bugs_active%}active{% endblock %}
{% block title %}Bugs{% endblock %}
{% block content %}
<div id="myAlert" class="alert alert-dismissible alert-primary text-center">
  {% if user.is_authenicated %}
  <strong>Hey {{ request.user }},</strong> please be advised that bug requests are free!
  {% else %}
  <strong>Hey User,</strong> please be advised that bug requests are free!
  {% endif %}
  <button type="button" class="close" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>

<main class="container" id="main">
  {% block heading %}
  <div class="row">
    <div class="col-sm-12">
      <h1>
        <span>Bugs</span>
        <a href="{% url 'create_a_bug' %}"><button type="button" class="btn btn-primary pull-right p5">Add Bug</button></a>
      </h1>
    </div>
  </div>
  {% endblock %} {% for bug in bugs %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card border-primary mb-3">
        <div class="card-header">
          {% if bug.status == "To do" %}
          <span class="badge badge-danger">{{ bug.status }}</span> {% elif bug.status == "In progress" %}
          <span class="badge badge-warning">{{ bug.status }}</span> {% else %}
          <span class="badge badge-success">{{ bug.status }}</span> {% endif %}
          <span class="card-link"><i class="fa fa-eye p5"></i>{{ bug.views }}
          <i class="fa fa-arrow-up p5"></i>{{ bug.bug_upvotes }}</span></div>
        <div class="card-body">
          <h4 class="card-title">{{ bug.title|capfirst }}</h4>
          <p class="card-text">{{ bug.description|capfirst }}</p>
          <div class="card-footer text-muted">
            <span class="margin-b-0">
            {{ bug.creator|capfirst }} | {{ bug.created_date }}
            </span>
            <a href="{% url 'single_bug_view' bug.id %}" class="card-link">View bug</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}


  <div class="container">
    {% if bugs.has_other_pages %}
    <ul class="pagination">
      {% if bugs.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ bugs.previous_page_number }}">&laquo;</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link">&laquo;</a>
      </li>
      {% endif %} 
      {% for i in bugs.paginator.page_range %}
      {% if bugs.number == i %}
      <li class="page-item active">
        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
      </li>
      {% endif %}
      {% endfor %}
      {% if bugs.has_next %}
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ bugs.next_page_number }}">&raquo;</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link">&raquo;</a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </div>


</main>
{% endblock %}
