{% extends 'base.html' %}

{% block title %} Password Reset {% endblock %}

{% block content %}
<main class="container" id="main">
{% block heading %}<h1>Password Reset</h1>{% endblock %}


<form method="POST">
    <p>Please enter your email address</p>
    {% csrf_token %}
    {{ form.email.errors }}
    <p>
        <label for="id_email">Email Address:</label>
        {{ form.email }}
        <button type="submit" class="btn btn-outline-primary">Reset Password</button>
    </p>
</form>

</main>
{% endblock %}