{% extends 'base.html' %}
{% block features_active %}active {% endblock %} 
{% block title %}Features{% endblock %} 

{% block content %}
<main class="container" id="main">
  {% block heading %}
  <div class="row">
    <div class="col-sm-12">
      <h1>
        <span>Features</span>
        <a href="{% url 'create_a_feature' %}"><button type="button" class="btn btn-primary pull-right p5">Add Feature</button></a>
      </h1>
    </div>
  </div>
  {% endblock %}
  
  {% for feature in features %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card border-primary mb-3">
        <div class="card-header">
          {% if feature.status == "To do" %}
          <span class="badge badge-danger">{{ feature.status }}</span>
          {% elif feature.status == "In progress" %}
          <span class="badge badge-warning">{{ feature.status }}</span>
          {% else %}
          <span class="badge badge-success">{{ feature.status }}</span>
          {% endif %}
          <span class="card-link"><i class="fa fa-eye p5"></i>{{ feature.views }}
          <i class="fa fa-arrow-up p5"></i>{{ feature.feature_upvotes }}</span></div>
        <div class="card-body">
          <h4 class="card-title">{{ feature.title|capfirst }}</h4>
          <p class="card-text">{{ feature.description|capfirst }}</p>
          <div class="card-footer text-muted">
            {{ feature.creator|capfirst }} | {{ feature.created_date }}
            <a href="{% url 'single_feature_view' feature.id %}" class="card-link">View feature</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</main>
{% endblock %}
