body {
    font-family: Arial;
}

main {
    margin-top: 2rem;
}


.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.form-container {
    margin-top: 2rem;
}

.card-link {
    float: right;
}

.upvote-btn {
    height: 28px;
    width: 84px;
    font-size: 10px;
    padding: 0;
}

.title {
    font-weight: bold;
}

.blockquote-footer {
    padding-top: 5px;
}


/* HELPERS */

.p5 {
    padding: 5px;
}

.inline {
    display: flex;
    align-items: baseline;
}

strong {
    font-weight: bold;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
