/* Globals */

html, body {
    width: 100%;
    height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/*End of Globals */

/* Helpers */

.p5 {
    padding: 5px;
}

.inline {
    display: flex;
    align-items: baseline;
}

strong {
    font-weight: bold;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

/* End of Helpers */


header.masthead {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: white;
    background: url(../img/bg-pattern.png), #49414d;
    background: url(../img/bg-pattern.png), -webkit-gradient(linear, right top, left top, from(#49414d), to(#ebdddd));
    background: url(../img/bg-pattern.png), linear-gradient(to left, #49414d, #ebdddd);
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}


.alert {
    margin-bottom: 0;
}


#main {
    margin-top: 2rem;
}


.icon-bar {
    background-color: #ffffff;
}

.accountform {
    padding-top: 20px;
}

.form-container {
    margin-top: 2rem;
}

.card-link {
    float: right;
}

.upvote-btn {
    height: 28px;
    width: auto;
    font-size: 10px;
    padding: 0;
}

.upvote-btn a {
    padding: 5px;
}

.upvote-btn a:hover {
    color: #ffffff;
}

.title {
    font-weight: bold;
}

.blockquote-footer {
    padding-top: 5px;
}

form button a:hover {
    color: #ffffff;
    text-decoration: underline;
}


/* Media Queries */

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  
  header.masthead .device-container {
    max-width: 325px;
  }
}


