body {
    font-family: Arial;
}

main {
    margin-top: 2rem;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.form-container {
    margin-top: 2rem;
}

.card-link {
    float: right;
}