{% extends 'base.html' %}
{% block register_active %} active {% endblock %}
{% load bootstrap_tags %}
{% block title %}Register Account{% endblock %}

{% block content %}
<main class="container form-container" id="main">
{% block heading %}<h1>Register Page</h1>{% endblock %}


    <form method="POST">
    {% csrf_token %}
    {{ registration_form | as_bootstrap }}
    <button type="button submit" class="btn btn-outline-primary">Register</button>
    </form>
    <br>
    <p>Already Registered? Click <a href="{% url 'login' %}">here.</a></p>

</main>
{% endblock %}