{% extends 'base.html' %}
{% block cart_active %}active{% endblock %}
{% load bootstrap_tags %} 

{% block title %}Your Cart{% endblock %}

{% block heading %}<h1>Your Cart:</h1>{% endblock %}


{% block content %}
<div class="row">
  {% for item in cart_items %}
  <div class="col-md-4">
    <div class="wrapper p5">
      <div class="card border-primary mb-3">
        {% if item.feature.paid == True %}
        <div class="card-header">Quantity: {{ item.quantity }}<span class="card-link"><a href="{% url 'decrease_cart' item.id %}"><i class="fa fa-arrow-down"></i></a>
        <a href="{% url 'increase_cart' item.id %}"><i class="fa fa-arrow-up p5"></a></i></span></div>
        {% else %}
        <div class="card-header"><span class="badge badge-danger">{{ item.feature.status }}</span><span class="card-link"><i class="fa fa-eye p5"></i>{{ item.feature.views }}
        <i class="fa fa-arrow-up p5"></i>{{ item.feature.feature_upvotes }}</span></div>
        {% endif %}
        <div class="card-body">
          <h4 class="card-title">{{ item.feature }}</h4>
        </div>
        {% if item.feature.paid == True %}
        <div class="card-footer text-muted">
          <form method="POST" action="{% url 'remove_from_cart' item.id %}">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ item.id }}">
            <button type="submit" class="btn btn-danger card-link p5">Remove</button>
          </form>
        </div>
        {% else %}
        <div class="card-footer text-muted">
          {{ item.feature.creator|capfirst }} | {{ item.feature.created_date }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="row">
  <div class="col-sm-6">
    <h1>Total: £{{ total }}</h1>
  </div>
  {% if total == 0 %}
  <div class="col-sm-6">
   <button type="button" id="checkout-btn" class="btn btn-success float-right p5" title="" data-toggle="tooltip" data-placement="left" data-original-title="Nothing in cart">Checkout</button>
  </div>
  {% else %}
  <div class="col-sm-6">
    <button type="button" class="btn btn-success float-right p5"><a href="{% url 'checkout' %}">Checkout</a></button>
  </div>
  {% endif %}
</div>
{% endblock %}

